/* Card */
.card {
  width: 80vw;
  height: 16.6vh;
  display: flex;
  border-bottom: 1px solid var(--gray2);
}
.thumbnail img {
  height: 14vh;
  padding-top: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 6px;
}
.card-content {
  margin-left: 3%;
  margin-top: 2%;
  cursor: pointer;
}
.card_title {
  cursor: pointer;
}
.card_title:hover {
  color: var(--gray3);
}
.card_content {
  line-height: 1.5;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: .9rem;
  padding-top: 7px;
}
.card_sub_content {
  font-size: .8rem;
  padding-top: 13px;
  color: var(--gray3)
}

