.card {
  width: 80vw;
  height: 15vh;
  display: flex;
  border-bottom: 1px solid var(--gray2);
}

.thumbnail {
}

.thumbnail img {
  height: 15vh;
}

.card-content {
  margin-left: 3%;
  margin-top: 2%;
  cursor: pointer;
}

.card_title {
  cursor: pointer;
}
.card_title:hover {
  color: var(--gray3);
}

.card_content {
  line-height: 1.5;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: .9rem;
}

