/* Mypage */
.mypage_section {
  width: 70%;
  height: auto;
  margin: 3rem;
}
.mypage_section h1 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.mypage_section form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}