.profile_section {
  background-color: var(--gray2);
  border-radius: 10px;
  position: absolute;
  padding: 1%;
  width: 30vw;
  height: auto;
  margin-top: 1%;
  margin-left: 20%;
}
.profile_section img {
  width: 20%;
}