.calendar {
  position: fixed;
  display: flex;
  top: 57%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.calendar_title {
  position: relative;
  margin-top: 2%;
  left: 8%;
  font-weight: 400;
  width: 60%;
}

/* Calendar Custom */

/* calendar */
.react-calendar {
  width: 70vw;
  height: 77vh;
  border-radius: 2.1rem;
  background-color: rgba(255, 255, 255, 0.936);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.react-calendar button {
  border-radius: 10%;
}

/* navigation */
.react-calendar__navigation {
  border: 1px solid var(--gray2);
  border-width: 0 0 1px;
  height: 13%;
}
.react-calendar__navigation span {
  font-size: 1.5rem;
  font-weight: 600;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus,
.react-calendar__navigation button:disabled {
  background-color: var(--white);
}

/* month */
.react-calendar__month-view {
  /* padding: 2.5% 2.5%; */
}
.react-calendar__month-view abbr {
  font-size: 1.4rem;
}
.react-calendar__month-view__days__day {
  height: 10vh;
}


/* weekday */
.react-calendar__month-view__weekdays abbr {
  font-size: 1.5rem;
  font-weight: 400;
}
.react-calendar__tile--now {
  background: white;
  color: var(--gray3);
  background-color: rgba(194, 194, 243, 0.3);
}

/* arrow button */
.react-calendar__navigation__arrow {
  font-size: 30px;
}
.react-calendar__navigation button {
  min-width: 60px;
}

/* calendar.css */

/* 기본 스타일 */
.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.calendar_title {
  text-align: center;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -100%;
  background-color: rgb(249, 252, 254);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  transition: right 0.5s;
  padding-top: 20px;
  padding-right: 20px;
}
.sidebar.open {
  width: 65%;
  right: 0;
}

.content {
  margin-left: 250px;
  padding: 1px 16px;
  height: 1000px;
}


/* 미디어 쿼리 - 600px 이하인 경우 */
@media only screen and (max-width: 600px) {
  /* 작은 화면에 대한 스타일 */
}

/* 미디어 쿼리 - 768px 이하인 경우 */
@media only screen and (max-width: 768px) {
  /* 노트북 크기에 대한 스타일 */
}

/* 미디어 쿼리 - 1024px 이하인 경우 */
@media only screen and (max-width: 1024px) {
  /* 작은 PC 화면에 대한 스타일 */
}

/* 미디어 쿼리 - 1200px 이하인 경우 */
@media only screen and (max-width: 1200px) {
  /* 일반적인 PC 화면에 대한 스타일 */
}