.calendar {
  position: fixed;
  display: flex;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
}

/* Calendar Custom */

/* calendar */
.react-calendar {
  width: 1250px;
  height: 650px;
  border-radius: 2.1rem;
  background-color: rgba(255, 255, 255, 0.936);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* navigation */
.react-calendar__navigation {
  border: 1px solid var(--gray2);
  border-width: 0 0 1px;
  height: 70px;
}
.react-calendar__navigation span {
  font-size: 30px;
  font-weight: 600;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus,
.react-calendar__navigation button:disabled {
  background-color: var(--white);
}

/* month */
.react-calendar__month-view {
  padding: 12px 32px;
}
.react-calendar__month-view abbr {
  font-size: 1.4rem;
}
.react-calendar__month-view__days__day {
  height: 80px;
}


/* weekday */
.react-calendar__month-view__weekdays abbr {
  font-size: 1.5rem;
  font-weight: 400;
}

/* arrow button */
.react-calendar__navigation__arrow {
  font-size: 30px;
}
.react-calendar__navigation button {
  min-width: 60px;
}