header {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

nav {
  width: calc(100% - 120px);
  margin: auto;
  line-height: 70px;
}

nav > div {
  height: 70px;
}

.logo {
  float: left;
  width: 130px;
}
img.account-book-logo {
  width: 80%;
  height: 80%;
  margin-top: 7%;
}

.gnb {
  width: calc(100% - 280px);
  display: inline-block;
  text-align: center;
}

.gnb a {
  padding: 5%;
}

.login {
  float: right;
  width: 100px;
  text-align: right;
}

a.link_selected.active {
  font-weight: 600;
  text-shadow: 2px 2px 20px #4267B2;
}

@media (min-width: 1024px) {
	/* PC CSS */
}

@media (min-width: 768px) and (max-width: 1024px) {
	/* Tablet CSS */
  /* .logo {
    width: 70px;
  } */
  .gnb {
    width: calc(100% - 170px);
  }
}

@media (max-width: 767px) {
	/* Mobile CSS */
}