header {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

nav {
  width: calc(100% - 120px);
  margin: auto;
  line-height: 70px;
}

nav > div {
  height: 70px;
}

.logo {
  float: left;
  width: 180px;
}

.gnb {
  width: calc(100% - 280px);
  display: inline-block;
  text-align: center;
}

.gnb a {
  padding: 90px;
}

.login {
  float: right;
  width: 100px;
  text-align: right;
}